div.container>div.h2 {
    position: relative;
    width: fit-content;
    margin: auto;
}

div.container>div.h2>div.heading-border-top-left,
div.container>div.h2>div.heading-border-bottom-right {
    position: absolute;
    width: 10px;
    height: 10px;
}

div.container>div.h2>div.heading-border-top-left {
    top: 0;
    left: 0;
    border-top: 2px solid hsl(210, 11%, 15%);
    border-left: 2px solid hsl(210, 11%, 15%);
}

div.container>div.h2>div.heading-border-bottom-right {
    bottom: 0;
    right: 0;
    border-bottom: 2px solid hsl(210, 11%, 15%);
    border-right: 2px solid hsl(210, 11%, 15%);
}

th {
    min-width: 150px;
}

div.partaker-card {
    border: 1px solid hsl(0, 0%, 0%, .2);
    border-radius: 3px;
}

img.acct-avtr-lg,
img.acct-avtr-md,
img.acct-avtr-sm {
    object-fit: cover;
    border-radius: 50%;
}

img.acct-avtr-lg {
    width: 150px;
    height: 150px;
}

img.acct-avtr-md {
    width: 100px;
    height: 100px;
}

img.acct-avtr-sm {
    width: 50px;
    height: 50px;
}

table.stu-par-tbl td {
    width: 50%;
}

table.stu-par-tbl td:nth-child(2) {
    text-align: right;
}