div.container>div.h2 {
    position: relative;
    width: fit-content;
    margin: auto;
}

div.container>div.h2>div.heading-border-top-left,
div.container>div.h2>div.heading-border-bottom-right {
    position: absolute;
    width: 10px;
    height: 10px;
}

div.container>div.h2>div.heading-border-top-left {
    top: 0;
    left: 0;
    border-top: 2px solid hsl(210, 11%, 15%);
    border-left: 2px solid hsl(210, 11%, 15%);
}

div.container>div.h2>div.heading-border-bottom-right {
    bottom: 0;
    right: 0;
    border-bottom: 2px solid hsl(210, 11%, 15%);
    border-right: 2px solid hsl(210, 11%, 15%);
}

img.acct-avtr-big,
img.acct-avtr-small {
    object-fit: cover;
    border-radius: 50%;
}

img.acct-avtr-big {
    width: 150px;
    height: 150px;
}

img.acct-avtr-small {
    width: 50px;
    height: 50px;
}