@media only screen and (max-width:576px) {
    form#loginForm {
        width: 80%;
    }
    p {
        text-align: center;
    }
    label {
        width: 100%;
    }
    input[type=submit] {
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
}

@media only screen and (min-width:992px) {
    form#loginForm {
        width: 25%;
    }
    label {
        width: 100%;
    }
    input[type=submit] {
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
}