@media only screen and (max-width:576px) {
    section>p {
        text-align: center;
    }
    div.d-lg-flex>div {
        margin: 5px 0px;
    }
    button#studtInsrBtn {
        width: 100%;
    }
}

th {
    min-width: 150px;
}

th:nth-child(n + 4) {
    min-width: 300px;
}

td {
    position: relative;
}

button#addPartakerBtn,
button#addMentorBtn,
button#addDocBtn {
    width: 24px;
    height: 24px;
    background-image: url('../img/add.png');
    background-color: hsl(360, 0%, 100%);
    border: none;
}

button#addPartakerBtn:focus,
button#addPartakerBtn:focus-visible,
button#addMentorBtn:focus,
button#addMentorBtn:focus-visible,
button#addDocBtn:focus-visible,
button#addDocBtn:focus-visible {
    outline: none;
}

input[type=file] {
    display: none;
}

label.file-label::after {
    content: url('../img/searchDoc.png');
    display: block;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.5em 0.75rem;
    border: 1px solid hsl(210, 14%, 83%);
    border-radius: .25rem;
    box-sizing: border-box;
    cursor: pointer;
}