@media only screen and (max-width:576px) {
    div.d-flex>div {
        margin: 5px 0px;
    }
    button#stuInsBtn {
        width: 100%;
    }
    div#sciPapCrdCtr>div.card {
        width: 90%;
    }
}

@media only screen and (min-width:992px) {
    div#sciPapCrdCtr>div.card {
        width: 45%;
    }
}

th {
    min-width: 150px;
}

img#addTempRes,
img#addProgAttend,
img.par-del-img,
img.doc-del-img,
img.acc-del-img,
img.men-del-img,
img.stu-del-img {
    cursor: pointer;
}

button#addPartaker,
button#addMentor,
button#addDocument {
    width: 24px;
    height: 24px;
    background-image: url('../img/add.png');
    background-color: hsl(360, 0%, 100%);
    border: none;
}

button#addPartaker:focus,
button#addPartaker:focus-visible,
button#addMentor:focus,
button#addMentor:focus-visible,
button#addDocument:focus,
button#addDocument:focus-visible {
    outline: none;
}

input[type=file] {
    display: none;
}

label.file-label::after {
    content: url('../img/searchDoc.png');
    display: block;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.5em 0.75rem;
    border: 1px solid hsl(210, 14%, 83%);
    border-radius: .25rem;
    box-sizing: border-box;
    cursor: pointer;
}